PORT=5000
MONGO_URI=mongodb+srv://atisunya-crm:atisunya123@crm-cluster1.bkhx2sf.mongodb.net/crmdb?retryWrites=true&w=majority
JWT_SECRET=mysecretkey
VAPID_PUBLIC_KEY=your_public_vapid_key
VAPID_PRIVATE_KEY=your_private_vapid_key
VAPID_SUBJECT=mailto:you@example.com
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_FIREBASE_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
IOS_BUNDLE_ID=com.atisunya.crm
APPLE_TEAM_ID=your_apple_team_id
APPLE_KEY_ID=your_apple_key_id
APPLE_PUSH_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_APPLE_PUSH_KEY\n-----END PRIVATE KEY-----\n"
APPLE_PUSH_USE_SANDBOX=false

